body{
    background-color: rgb(173, 216, 230);
}

.container1{
    display: flex;
    background-color: rgb(132, 243, 132);
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.container1 .btn1{
    width: 100px;
    height: 50px;
    color: #ffffff;
    background-color: rgb(148, 0, 211);
    border: none;
    cursor: pointer;
}

.container1 .btn2{
    width: 100px;
    height: 50px;
    color: #ffffff;
    background-color: rgb(82, 4, 116);
    border: none;
    cursor: pointer;
}

.container1 .btn3{
    width: 100px;
    height: 50px;
    color: #ffffff;
    background-color: rgb(56, 2, 80);
    border: none;
    cursor: pointer;
}

.container2{
    display: none;
    background-color: #dddddd;
    font-family: 'Calibri', serif;
}

.container2 .block_left h2{
    color: #333333;
    font-size: 30px;
    text-align: center;
}

.container2 .block_left .txt1{
    color: #555555;
    font-size: 20px;
    margin: 0 30px 25px 30px;
}

.container2 .block_right{
    display: flex;
    align-items: flex-end;
}

.container2 .block_right .btn1{
    width: 100px;
    height: 50px;
    background-color: #555555;
    color: #ffffff;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    margin: 0 30px 25px 0;
    cursor: pointer;
}
